*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}
.titulo{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.variedad{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}
.foot{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin-top: 5px;
}
.conse{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.conse img{
    height: 100%;
}